body {
    font-family: sans-serif;
    margin: 2em;
    background-color: aliceblue;
}

label {
    display: inline-block;
    margin: 1em;
    vertical-align: top;
    width: 45%;
}

textarea {
    display: block;
    background-color: floralwhite;
    margin: 0 2em 0 0;
    height: 200px;
    width: 100%;
}

grid-chen {
    display: block;
    height: 200px;
}